:root {
	--color-blue-1: #457aab;
	--color-blue-2: #285580;
	--color-blue-3: #d0e1ef;
	--color-blue-4: #5f90bf;
	--color-black-1: #222222;
	--color-gray-1: #48555c;
	--color-gray-2: #9b9b9b;
	--color-gray-3: #f5f5f5;
	--color-gray-4: #a8a8a8;

	--navbar-btn-margin: 44px;

	font-size: 16px;
	font-family: Arial, sans-serif;
}

/* ================================================ *
 *                    Body styles                   * 
 * ================================================ */

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0px;
	font-family: Arial, sans-serif;
}

.main-align-center {
	max-width: 75%;
	margin: auto;
}

.main-container {
	width: 75%;
	max-width: 1280px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 50px;
}

.main-container-flex-row {
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;

	padding: 16px;
}

/* ================================================ *
 *                  Header styles                   * 
 * ================================================ */

.header {
	padding: 80px;
	padding-top: 160px;
	padding-bottom: 160px;
	text-align: center;
	background: var(--color-blue-1);
	color: white;
}

.header h1 {
	font-size: 40px;
}

.header-background-text {
	width: 75%;
	max-width: 1280px;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-weight: bold;
	border: 3px solid var(--color-gray-3);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

.header-background-image {
	height: 100%;

	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

/* ================================================ *
 *                   Footer styles                  * 
 * ================================================ */

.footer {
	margin-top: auto;
	padding: 20px;
	color: white;
	background: var(--color-black-1);
}

.footer-content-flex {
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	max-width: 1280px;
	display: flex;
}

.footer-content {
	flex: 33%;
	padding: 20px;
}

.footer p {
	color: var(--color-gray-2);
}

.footer a {
	color: white;
}

/* ================================================ *
 *                   Navbar styles                  * 
 * ================================================ */

.navbar {
	padding-top: 16px;
	overflow: hidden;
	background-color: black;
	font-family: inherit;
}

.navbar a {
	margin-top: var(--navbar-btn-margin);
	position: relative;
	bottom: 0px;
	float: right;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 20px 24px;
	text-decoration: none;
	line-height: 1;
}

.navbar-logo-btn {
	float: left;
	border: none;
	outline: none;
	color: white;
	padding: 10px 12px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	line-height: 1;
}

.navbar-logo-img {
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	max-height: 80px;
	max-width: 100%;
}

.navbar .dropdown-btn {
	margin-top: var(--navbar-btn-margin);
}

.navbar a:hover {
	background-color: var(--color-blue-1);
}

@media (hover: hover) and (pointer: fine) {
	.navbar .dropdown:hover .dropdown-btn {
		background-color: var(--color-blue-1);
	}
}

/* ================================================ *
 *                     Dropdowns                    * 
 * ================================================ */

.dropdown {
	float: right;
	overflow: hidden;
}

.dropdown .dropdown-btn {
	font-size: 16px;
	text-align: center;
	border: none;
	outline: none;
	color: white;
	padding: 20px 24px;
	background-color: inherit;
	font-family: inherit;
	line-height: 1;
	touch-action: auto !important;
}

.dropdown .dropdown-btn-active {
	background-color: var(--color-blue-1);
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	margin-top: 0;
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content-show {
	display: block;
}

@media (hover: hover) and (pointer: fine) {
	.dropdown-content a:hover {
		background-color: #ddd;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}
}

/* ================================================ *
 *                  Breadbruh styles                * 
 * ================================================ */

ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
}

ul.breadcrumb li {
	display: inline;
	font-size: 16px;
}

ul.breadcrumb li + li:before {
	padding: 8px;
	color: var(--color-gray-2);
	content: "/\00a0";
}

ul.breadcrumb li a {
	color: var(--color-gray-2);
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: var(--color-gray-3);
	text-decoration: underline;
}

/* ================================================ *
 *                   Button styles                  * 
 * ================================================ */

.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	padding: 12px;

	text-decoration: none;
	text-align: center;
	color: white;

	background: #457aab;
	border-radius: 2px;
}

.button:active {
	background-color: var(--color-blue-2);
}

/* ================================================ *
 *                    Card styles                   * 
 * ================================================ */

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 0px 20px;

	width: 32%;
	max-width: 400px;

	background: #f8f8f8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.card-header {
	padding: 0px 16px;

	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;

	margin: 8px 0px;
}

.card-text {
	padding: 0px 16px;

	text-align: center;

	margin: 8px 0px;
}

.card-image {
	border-radius: 5px 5px 0 0;
	width: 100%;
	margin: 8px 0px;
}
.card .button {
	margin-top: 8px;
}

/* ================================================ *
 *                  Responsiveness                  * 
 * ================================================ */
/* Some dark magic I found on w3schools, idk how this shit works */
@media screen and (max-width: 1100px) {
	:root {
		--navbar-btn-margin: 28px;
	}

	.navbar-logo-img {
		max-height: 64px;
	}

	.main-content-flex {
		flex-direction: column;
	}

	.main-align-center {
		max-width: 90%;
	}

	.main-container {
		max-width: 90%;
	}

	.footer-content-flex {
		flex-direction: column;
	}
}

/* I have no idea what am i doing */
@media screen and (max-width: 950px) {
	.navbar a {
		width: 100%;
		margin: 0;
	}

	.dropdown {
		width: 100%;
		margin: 0;
	}

	.navbar-logo-img {
		max-height: 64px;
	}

	.navbar-logo-btn {
		display: inline-block;
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.navbar .dropdown-btn {
		margin-top: 0;
		width: 100%;
	}

	.dropdown .dropdown-btn {
		width: 100%;
	}

	.dropdown-content {
		width: 90%;
	}

	.dropdown-content a {
		display: inline-block;
		text-align: center;
	}

	.header {
		padding: 20px;
	}

	.header h1 {
		font-size: 20px;
	}

	.main-container-flex-row {
		flex-direction: column;
	}

	.card {
		width: 100%;
		max-width: 100%;
		margin: 8px 0px;
	}
}
