{% extends "yktaero/base.html" %} {% block title %}Главная{% endblock %} {% block content %}
<link rel="stylesheet" href="{{ static('yktaero/css/projectcards.css') }}" />

<div class="header header-background-image">
	<div class="align-center header-background-text">
		<h1>Космос, созданный в Якутии</h1>
		<!--<ul class="breadcrumb">
			<li><a href="#">Раздел 1</a></li>
			<li><a href="#">Подраздел 1</a></li>
			<li><a href="#">Подраздел 2</a></li>
			<li>Главная</li>
		</ul>-->
		<p>ООО «ЯКС» - компания-разработчик малых космических аппаратов</p>
	</div>
</div>
<div class="container">
	<h1 class="align-center" style="margin-top: 16px">Проекты</h1>
	<div class="container-flex flex-col">
		<div class="project-card">
			<img src="{{ static('yktaero/img/cubesat1.jpg') }}" class="card-image card-image-odd" />
			<div class="card-content">
				<div class="card-header">Спутниковая платформа YKTSAT-1U</div>
				<div class="card-text">
					Спутниковая платформа YKTSAT - готовый конструктор микроспутников класса CubeSat начального уровня,
					предназначенный для обучения школьников и студентов основам проектирования космической
					техники. Конструктор
					содержит комплект для сборки микроспутника, соответствующего нормативным требованиям к малым космическим аппаратам (МКА) и
					готового к эксплуатации в космосе.
				</div>
				<a href="{{ url('project-view', kwargs={'slug': 'yktsat'}) }}" class="button">Подробнее</a>
			</div>
		</div>
		<div class="project-card">
			<img src="{{ static('yktaero/img/payload.jpg') }}" class="card-image card-image-even" />
			<div class="card-content">
				<div class="card-header">Полезные нагрузки для МКА</div>
				<div class="card-text">
					Полезные нагрузки для МКА - модули, предназначенные для интеграции со спутниковой платформой.
					Полезная нагрузка обеспечивает выполнение космическим аппаратом практических задач. 
					Модули от «ЯКС» 
					совместимы с платформой YKTSAT, а также со стандартом PC/104, что позволяет
					использовать их с МКА других производителей.
				</div>
				<a href="{{ url('project-view', kwargs={'slug': 'payloads'}) }}" class="button">Подробнее</a>
			</div>
		</div>
		<div class="project-card">
			<img src="{{ static('yktaero/img/rover.jpg') }}" class="card-image card-image-odd" />
			<div class="card-content">
				<div class="card-header">Модели марсоходов</div>
				<div class="card-text">
					Модель марсоходов - самоходные макеты, предназначенные для изучения робототехники и 
					отработки перспективных алгоритмов управления колесными вездеходами. Установленное на борту оборудование 
					позволяет проводить эксперименты и взаимодействовать с окружающей средой.
					Конструкция марсохода позволяет пользователям самостоятельно устанавливать на борт дополнительные устройства.
				</div>
				<a href="{{ url('project-view', kwargs={'slug': 'rovers'}) }}" class="button">Подробнее</a>
			</div>
		</div>
		<div class="project-card">
			<img src="{{ static('yktaero/img/station.jpg') }}" class="card-image card-image-even" />
			<div class="card-content">
				<div class="card-header">Служба наземных станций GSN</div>
				<div class="card-text">
					Служба наземных станций gsn.yktaero.space - сервис, обеспечивающий удаленный доступ к наземным станциям 
					управления космическими аппаратами. Служба GSN позволяет отправлять команды на борт КА и получать 
					телеметрию в реальном времени через любую станцию, подключенную к сети, находясь при этом в любой точке мира.
				</div>
				<a href="https://gsn.yktaero.space" class="button">Подробнее</a>
			</div>
		</div>
	</div>
	<h1 class="align-center" style="margin-top: 16px">Новости</h1>
	<div class="container-flex flex-row">
		{% for post in posts %}
			<div class="card">
				{% if post.preview_upload %}
					<div style="background-image: url('{{ post.preview_upload.url }}');" class="card-image card-image-fixed"></div>
				{% else %}
					{% if post.preview_image|length %}
						<div style="background-image: url('{{ static(post.preview_image) }}');" class="card-image card-image-fixed"></div>
					{% else %}
						<img style="background-image: url('{{ post.preview_image_external }}');" class="card-image card-image-fixed" />
					{% endif %}
				{% endif %}
				<div class="card-header"><a href="{{ url('blog-post', kwargs={'slug': post.slug}) }}">{{ post.title }}</a></div>
				{% if not post.publish_date %}
					<div class="card-pubdate">Опубликовано: {{ post.created|format_date }}</div>
				{% else %}
					<div class="card-pubdate">Опубликовано: {{ post.publish_date|format_date }}</div>
				{% endif %}
				
			</div>
		{% endfor %}
	</div>
	<div class="spacer news-button" style="text-align: center">
		<a href="/news" class="button button-large">Все новости</a>
	</div>
	<div class="about-org">
		<div class="project-card">
			<img src="{{ static('yktaero/img/about.jpg') }}" class="card-image card-image-odd" />
			<div class="card-content">
				<div class="card-header">О компании</div>
				<div class="card-text">
					ООО «ЯКС» - компания-разработчик приборов аэрокосмического назначения,
					резидент ГАУ РС(Я) «Технопарк Якутия».
				</div>
				<a href="/about/contacts" class="button">Подробнее</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}	
