{% extends "yktaero/base.html" %} {% block title %}Новости{% endblock %} 
{% block content %}
<link rel="stylesheet" href="{{ static('yktaero/./css/projectcards.css') }}" />
<style>
	.news-img {
		width: 30%;
		min-width: 100px;
		border-radius: 5px;
	}
	.news-flex-tags {
		width: 20%;
	}
	.news-flex-content {
		width: 80%;
	}
	.button .news-tag {
		margin: 8px;
	}
	.news-flex-content .button-nobg {
		padding: 0px 1em;
	}
	.news-flex-content .project-card {
		align-items: flex-start;
	}

	@media screen and (max-width: 980px) {
		.news-flex-content .project-card {
			align-items: center;
		}

		.news-flex-content .card-bottomlinks {
			align-items: center;
			width: auto;
		}

		.news-flex-tags {
			width: 100%;
		}
		.news-flex-content {
			width: 100%;
		}
	}
</style>
<div class="header-sm header-background-image">
	<div class="align-center header-background-text">
		<h1>Новости</h1>
		<ul class="breadcrumb">
			<li><a href="/">Главная</a></li>
			<li><a href="/news">Новости</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="container-flex flex-row"> 
		<div class="news-flex-tags">
			<h2 style="text-align: left;">Теги:</h2>
			<div class="container-flex">
				
			</div>
		</div>
		<div class="news-flex-content">
			{% for post in page_obj %}
				<div class="project-card">
					<img src="{{ static(post.preview_image) }}" class="news-img card-image-odd" />
					<div class="card-content">
						<div class="card-header">{{ post.title }}</div>
						<div class="card-subtitle" style="font-size: inherit;">Опубликовано: <time>{{ post.updated }}</time></div>
						<div class="card-subtitle" style="font-size: inherit;">Теги:
							{% for tag in post.tags.all() %}
								<a class="" href="{{ url('blog-tag', kwargs={'tag': tag.name}) }}">{{ tag.name }}</a>
							{% endfor %}
						</div>
						<div class="card-text">
							{{ post.preview_text }}
						</div>
						<div class="card-bottomlinks">
							<a href="{{ url('blog-post', kwargs={'slug': post.slug}) }}" class="button">Читать далее</a>
						</div>
					</div>
				</div>
			{% endfor %}
			<div style="margin-top: 20px;">
				{% if page_obj.has_other_pages %}
					<div class="pagination">
						{% if page_obj.has_previous == 1 %}
							<a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
						{% else %}
							<a class="disabled">&laquo;</a>
						{% endif %}
						{% for i in page_obj.paginator.page_range %}
							{% if page_obj.number == i %}
								<a class="active">{{ i }}</a>
							{% else %}
								{% if page_obj.number <= 10 %}
									<a href="?page={{ i }}">{{ i }}</a>
								{% endif %}
							{% endif %}
						{% endfor %}
						{% if page_obj.has_next == 1 %}
							<a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
						{% else %}
							<a class="disabled">&raquo;</a>
						{% endif %}
					</div>			
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
