{% extends "yktaero/base.html" %} {% block title %}Новости{% endblock %} {% block content %}
<div class="header-sm header-background-image">
	<div class="align-center header-background-text">
		<h1>Новости</h1>
		<ul class="breadcrumb">
			<li><a href="/">Главная</a></li>
			<li><a href="/news">Новости</a></li>
			<li><a href="{{ url('blog-post', kwargs={'slug': post.slug}) }}">{{ post.title }}</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<h1>{{ post.title }}</h1>
	{% if post.preview_image|length %}
		<img src="{{ static(post.preview_image) }}" />
	{% else %}
		<img src="{{ post.preview_image_external }}"/>
	{% endif %}
	<h3>{{ post.updated }}</h3>
	<p>
		{{ post.content|safe }}
	</p>
</div>
{% endblock %}
