{% extends "yktaero/base.html" %} {% block title %}Новости{% endblock %} {% block content %}
<link rel="stylesheet" href="{{ static('yktaero/css/news.css') }}" />
<div class="header-sm header-background-image">
	<div class="align-center header-background-text">
		<h1>Новости</h1>
		<ul class="breadcrumb">
			<li><a href="/">Главная</a></li>
			<li><a href="/news">Новости</a></li>
			<li><a href="{{ url('blog-post', kwargs={'slug': post.slug}) }}">{{ post.title }}</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="align-center news-card centered news-card-post"> 
		<h1 style="margin-top: 8px;">{{ post.title }}</h1>
		<div class="news-post-info"> 
			<div class="news-post-date">Опубликовано: {{ post.updated }}</div>
			<div>
				<span class="news-post-date">Теги:</span>
				{% for tag in post.tags.all() %}
					<a href="{{ url('blog-tag', kwargs={'tag': tag.name}) }}">{{ tag.name }}</a>
				{% endfor %}
			</div>
		</div>
		<hr/>
		{{ post.content|safe }}
		{% if post.preview_image|length %}
			<img src="{{ static(post.preview_image) }}" style="width: 100%; border-radius: 5px;" />
		{% else %}
			<img src="{{ post.preview_image_external }}" style="width: 100%; border-radius: 5px;"/>
		{% endif %}
	</div>
</div>
{% endblock %}
