{% extends "yktaero/base.html" %} {% block title %}МКА «Чолбон»{% endblock %} {% block content %}
<link rel="stylesheet" href="{{ static('yktaero/css/item.css') }}" />
<link rel="stylesheet" href="{{ static('yktaero/./css/projectcards.css') }}" />
<div class="header-sm header-background-image">
	<div class="align-center header-background-text">
		<h1>МКА «Чолбон»</h1>
		<ul class="breadcrumb">
			<li><a href="/">Главная</a></li>
			<li><a href="{% if request.META.HTTP_REFERER %}{{request.META.HTTP_REFERER}} {% endif %}">Проекты</a></li>
			<li>МКА «Чолбон»</li>
		</ul>
	</div>
</div>
<div class="container">
	<br>
	<div class="container-flex flex-row">
		<div class="item-flex-image">
			<img src="{{ static('yktaero/img/cholbon.jpg') }}" class="card-image" />
		</div>
		<div class="item-flex-description">
			<div class="item-card">
				<div class="card-content">
					<div class="card-text">
						<b>МКА «Чолбон»</b> — малый космический аппарат, разработанный и созданный в рамках совместного с Малой Академией Наук РС(Я) проекта по запуску первого якутского спутника. Аппарат предназначен для выполнения образовательных и научно-исследовательских задач, а также для отработки наземной космической инфраструктуры.
						<br><br>
						На борту МКА установлена полезная нагрузка ООО «ЯКС» с 12 Arduino-совместимыми микроконтроллерами и набором датчиков для изучения параметров окружающей среды. Школьники и студенты Республики Саха (Якутия) смогут загружать программы на борт аппарата и проводить собственные исследования.
						<br><br>
						Космический аппарат также выполняет радиолюбительскую миссию. С МКА будет передаваться телеметрия и изображения бортовой камеры, SSTV-открытки, аудиосообщения и другие данные. Для связи с аппаратом используется диапазон УКВ 437-439 МГц.
						<br><br>
						Проект создается при поддержке Целевого фонда будущих поколений РС(Я).
					</div>
				</div>
				<br>
				<div class="tabset">
					<!-- Tab 1 -->
					<input type="radio" name="tabset" id="tab1" aria-controls="description" checked>
					<label for="tab1">Общая информация</label>
					<!-- Tab 2 -->
					<input type="radio" name="tabset" id="tab2" aria-controls="specifications">
					<label for="tab2">Тех. характеристики</label>
					<!-- Tab 3 -->
					<input type="radio" name="tabset" id="tab3" aria-controls="orbit">
					<label for="tab3">Орбита</label> 
					<!-- Tab 4 -->
					<input type="radio" name="tabset" id="tab4" aria-controls="radio-amateurs">
					<label for="tab4">Радиолюбителям</label>
					
					<div class="tab-panels">
						<section id="description" class="tab-panel">
							<h2>Общая информация</h2>
							<table cellpadding="1" cellspacing="1" class="formatted-table">
								<tr>
									<td><b>Название</b></td>
									<td>МКА «Чолбон»</td>
								</tr>
								<tr>
									<td><b>Название в каталоге</b></td>
									<td>SAKHACUBE-CHOLBON</td>
								</tr>
								<tr>
									<td><b>Платформа</b></td>
									<td>SXC1 от ООО «СПУТНИКС»</td>
								</tr>
								<tr>
									<td><b>Полезная нагрузка</b></td>
									<td><a href="https://yktaero.space/projects/item/ykts-pl-edu16-sptx">ПН YktSat EDU/16 PC/104</a></td>
								</tr>
								<tr>
									<td><b>Заказчик</b></td>
									<td>ГАНОУ РЦ РС(Я) «МАН РС(Я)»<br>
										НО «ЦФБП РС(Я)»</td>
								</tr>
								<tr>
									<td><b>Оператор</b></td>
									<td>ГАНОУ РЦ РС(Я) «МАН РС(Я)»,<br>ООО «ЯКС» (тех. сопровождение)</td>
								</tr>
								<tr>
									<td><b>Разработчик</b></td>
									<td>ООО «СПУТНИКС», ООО «ЯКС»</td>
								</tr>
								<tr>
									<td><b>Статус</b></td>
									<td>Ожидание передачи пусковому оператору</td>
								</tr>
								<tr>
									<td><b>Дата запуска</b></td>
									<td>Ожидается <b>17 Июн 2025</b><br>Попутная ПН к КА «Аист-2Т»</td>
								</tr>
								<tr>
									<td><b>Место запуска</b></td>
									<td>Космодром Восточный, Россия</td>
								</tr>
								<tr>
									<td><b>Продолжительность миссии</b></td>
									<td>3 года</td>
								</tr>
							</table>
							<p>
								Управление КА осуществляется с помощью земных станций управления, входящих в состав сети GSN. Для связи с аппаратом используется диапазон УКВ 437-439 МГц.
							</p>
							<p>
								Основная станция управления: <b>678011 Республика Саха (Якутия), Хангаласский улус, с. Чапаево, ул. Г. Саввина, д.1, ГАНОУ РЦ РС(Я) «МАН РС(Я)»</b>.
							</p>
						</section>
						<section id="specifications" class="tab-panel">
							<h2>Технические характеристики</h2>
							<h3>Массогабаритные характеристики</h3>
							<i>Таблица 1. Массогабаритные характеристики МКА «Чолбон»</i>
							<table cellpadding="1" cellspacing="1" class="formatted-table">
								<thead>
									<tr>
										<th>Параметр</th>
										<th>Значение</th>
									</tr>
								</thead>
								<tr>
									<td><b>Исполнение</b></td>
									<td>CubeSat, 1U</td>
								</tr>
								<tr>
									<td><b>Габаритные размеры (по направляющим)</b></td>
									<td>100 x 100 x 113.5 мм</td>
								</tr>
								<tr>
									<td><b>Габаритные размеры (не более)</b></td>
									<td>108 x 108 x 113.5 мм</td>
								</tr>
								<tr>
									<td><b>Масса</b></td>
									<td>1.1 кг</td>
								</tr>
							</table>

							<h3>Бортовая аппаратура</h3>
							<p>
								Состав бортовой аппаратуры:
								<ul>
									<li>Полезная нагрузка YktSat EDU/16 PC/104 — 1 шт. </li>
									<li>Антенна УКВ с системой отделения SXC-AUH-03 — 1 шт.</li>
									<li>УКВ приемопередатчик SXC-UHF-02 — 1 шт.</li>
									<li>Система электропитания SXC-PSS-03 — 1 шт.</li>
									<li>Блок аккумуляторных батарей SXC-BAT-03 — 1 шт.</li>
									<li>Бортовая вычислительная машина SXC-MB-04-RPI — 1 шт.</li>
									<li>Камера SXC-CRPI-01 — 1 шт.</li>
									<li>Солнечные панели с GaAs ФЭП и катушками СОС (боковые) SXC-SGS-03 — 4 шт.</li>
									<li>Солнечные панели с GaAs ФЭП и катушками СОС (торцевые) SXC-SGE-03 — 2 шт.</li>
								</ul>

								Система ориентации и стабилизации — электромагнитные катушки, встроенные в солнечные панели; контроль ориентации — магнитометр, гироскоп, акселерометр. Точность поддержания ориентации — 20°.
							</p>
							<p>
								В составе полезной нагрузки: 12 Arduino-совместимых микроконтроллеров; гамма-спектрометр сцинтилляционный CsI(Tl); датчики температуры; датчики освещенности мультиспектральные по каждой оси КА; камера. Подробные характеристики полезной нагрузки доступны на странице <a href="https://yktaero.space/projects/item/ykts-pl-edu16-sptx">ПН YktSat EDU/16 PC/104</a>.
							</p>

							<h3>Энергетический баланс </h3>
							<i>Таблица 2. Энергетические характеристики МКА «Чолбон»</i>
							<table cellpadding="1" cellspacing="1" class="formatted-table">
								<thead>
									<tr>
										<th>Параметр</th>
										<th>Значение</th>
									</tr>
								</thead>
								<tr>
									<td><b>Энергопотребление средневитковое</b></td>
									<td>1.11 Вт</td>
								</tr>
								<tr>
									<td><b>Энергопотребление пиковое</b></td>
									<td>5.00 Вт</td>
								</tr>
								<tr>
									<td><b>Емкость аккумуляторных батарей</b></td>
									<td>39.00 Вт⋅ч</td>
								</tr>
								<tr>
									<td><b>Доступная средневитковая <br> мощность ПН</b></td>
									<td>0.50 Вт</td>
								</tr>
								<tr>
									<td><b>Выработка ФЭП суммарная <br> средневитковая, не менее</b></td>
									<td>1.50 Вт</td>
								</tr>
							</table>
							<h3>Радиолиния</h3>
							<i>Таблица 3. Баланс радиолинии downlink (Борт—земля)</i>
							<table cellpadding="1" cellspacing="1" class="formatted-table">
								<thead>
									<tr>
										<th>Параметр радиоканала</th>
										<th>Значение</th>
									</tr>
								</thead>
								<tr>
									<td>Мощность передатчика, Pпрд</td>
									<td>2 Вт (3 дБВт)</td>
								</tr>
								<tr>
									<td>Коэффициент усиления передающей антенны, Gпрд</td>
									<td>0 дБи</td>
								</tr>
								<tr>
									<td>Коэффициент усиления приёмной антенны, Gпрма</td>
									<td>11 дБи</td>
								</tr>
								<tr>
									<td>Коэффициент усиления приемника, Gпрму</td>
									<td>20 дБ</td>
								</tr>
								<tr>
									<td>Эффективный шум системы, T</td>
									<td>4000К (36 дБК)</td>
								</tr>
								<tr>
									<td>Суммарные потери при распространении сигнала, Lп</td>
									<td>155,4 дБ</td>
								</tr>
								<tr>
									<td>Потери в антенне передатчика, Laпрд</td>
									<td>0,2 дБ</td>
								</tr>
								<tr>
									<td>Потери в антенне приёмника, Laпрм</td>
									<td>0,4 дБ</td>
								</tr>
								<tr>
									<td>Константа Больцмана, k</td>
									<td>-228,6 дБВ/Гц</td>
								</tr>
								<tr>
									<td>Требуемое отношение энергии бита к мощности шума</td>
									<td>10 дБ</td>
								</tr>
								<tr>
									<td>Скорость передачи данных в канале</td>
									<td>4800 бит/с (36,8 дБ/Гц)</td>
								</tr>
								<tr>
									<td>Энергетический запас линии</td>
									<td>14 дБ</td>
								</tr>
							</table>
							<br>
							<i>Таблица 4. Баланс радиолинии uplink (Земля—борт)</i>
							<table cellpadding="1" cellspacing="1" class="formatted-table">
								<thead>
									<tr>
										<th>Параметр радиоканала</th>
										<th>Значение</th>
									</tr>
								</thead>
								<tr>
									<td>Мощность передатчика, Pпрд</td>
									<td>10 Вт (10 дБВт)</td>
								</tr>
								<tr>
									<td>Коэффициент усиления передающей антенны, Gпрд</td>
									<td>11 дБи</td>
								</tr>
								<tr>
									<td>Коэффициент усиления приёмной антенны, Gпрма</td>
									<td>0 дБи</td>
								</tr>
								<tr>
									<td>Коэффициент усиления приемника, Gпрму</td>
									<td>10 дБ</td>
								</tr>
								<tr>
									<td>Эффективный шум системы, T</td>
									<td>4000К (36 дБК)</td>
								</tr>
								<tr>
									<td>Суммарные потери при распространении сигнала, Lп</td>
									<td>155,4 дБ</td>
								</tr>
								<tr>
									<td>Потери в антенне передатчика, Laпрд</td>
									<td>0,2 дБ</td>
								</tr>
								<tr>
									<td>Потери в антенне приёмника, Laпрм</td>
									<td>0,4 дБ</td>
								</tr>
								<tr>
									<td>Константа Больцмана, k</td>
									<td>-228,6 дБВ/Гц</td>
								</tr>
								<tr>
									<td>Требуемое отношение энергии бита к мощности шума</td>
									<td>10 дБ</td>
								</tr>
								<tr>
									<td>Скорость передачи данных в канале</td>
									<td>4800 бит/с (36,8 дБ/Гц)</td>
								</tr>
								<tr>
									<td>Энергетический запас линии</td>
									<td>11 дБ</td>
								</tr>
							</table>
						</section>
						<section id="orbit" class="tab-panel">
							<h2>Орбитальная информация</h2>
							<i>Таблица 5. Предварительные параметры орбиты МКА «Чолбон»</i>
							<table cellpadding="1" cellspacing="1" class="formatted-table">
								<thead>
									<tr>
										<th>Параметр</th>
										<th>Значение</th>
									</tr>
								</thead>
								<tr>
									<td><b>Тип орбиты</b></td>
									<td>Солнечно-синхронная (ССО)</td>
								</tr>
								<tr>
									<td><b>Наклонение</b></td>
									<td>97.5°</td>
								</tr>
								<tr>
									<td><b>Высота</b></td>
									<td>550 км</td>
								</tr>
								<tr>
									<td><b>Период обращения</b></td>
									<td>95.5 мин</td>
								</tr>
								<tr>
									<td><b>Местное время прохождения <br> восходящего узла (LTAN)</b></td>
									<td>22:30</td>
								</tr>
							</table>
							<p>
								Параметры в формате TLE на данный момент недоступны.
							</p>
						</section>
						<section id="radio-amateurs" class="tab-panel">
							<h2>Радиолюбителям</h2>
							<p>
								МКА «Чолбон» использует стандартные протоколы передачи данных ООО «СПУТНИКС». Техническая информация о радиолинии доступна на <a href="https://sputnix.ru/ru/sputniki/radiolyubitelyam">сайте ООО «СПУТНИКС»</a>. Для связи с аппаратом используется диапазон УКВ 437-439 МГц.
							</p>
							<p>
								Планируется передача телеметрии и изображений бортовой камеры, SSTV-открыток, аудиосообщений и других данных. Подробности будут опубликованы на отдельной странице ближе к дате запуска. Радиолюбительские передачи будут объявляться заранее.
							</p>
							<p>
								В данный момент идет процесс координации частот в IARU.
							</p>
							<h3>Параметры радиоканала</h3>
							<i>Таблица 6. Параметры радиоканала МКА «Чолбон»</i>
							<table cellpadding="1" cellspacing="1" class="formatted-table">
								<thead>
									<tr>
										<th>Параметр радиоканала</th>
										<th>Значение</th>
									</tr>
								</thead>
								<tr>
									<td><b>Частота</b></td>
									<td>437-439 МГц (будет объявлено позднее)</td>
								</tr>
								<tr>
									<td><b>Позывной</b></td>
									<td>RS18S</td>
								</tr>
								<tr>
									<td><b>Мощность передатчика</b></td>
									<td>2 Вт</td>
								</tr>
								<tr>
									<td><b>Модуляция</b></td>
									<td>GMSK</td>
								</tr>
								<tr>
									<td><b>Скорость передачи данных</b></td>
									<td>4800 бит/с основная <br> 9600, 19200 (данные ПН)</td>
								</tr>
								<tr>
									<td><b>Протокол</b></td>
									<td>USP, AX.25, SSTV</td>
								</tr>
								<tr>
									<td><b>Режимы SSTV</b></td>
									<td>Robot36, Robot72</td>
								</tr>
								<tr>
									<td><b>Классы излучения</b></td>
									<td>4K8F1D, 9K6F1D, 16K0F1D, 19K2F1D</td>
								</tr>
								<tr>
									<td><b>Передаваемая информация</b></td>
									<td>Телеметрия, изображения, <br> аудиосообщения, SSTV-открытки</td>
							</table>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
