{% extends "yktaero/base.html" %} {% block title %}Контакты{% endblock %} {% block content %}
<div class="header-sm header-background-image">
	<div class="align-center header-background-text">
		<h1>Контакты</h1>
		<ul class="breadcrumb">
			<li><a href="/">Главная</a></li>
			<li><a href="">О нас</a></li>
			<li>Контакты</li>
		</ul>
	</div>
</div>
<div class="container">
	<h2 style="text-align: left;">Контакты</h2>
	<p>
		<b>Полное наименование:</b> Общество с ограниченной ответственностью «Якутские Аэрокосмические Системы»
	</p>
	<p>
		<b>Наименование на английском языке:</b> Sakha Aerospace Systems, LLC
	</p>
	<p>
		<b>Адрес:</b> 677000, Россия, Республика Саха (Якутия), г. Якутск, ул. Дзержинского, 76, блок С, офис 203
	</p>
	<p>
		<b>Телефон:</b> <a href="tel:79142280639">+7 (914) 228-06-39</a>
	</p>
	<p>
		<b>E-mail:</b> <a href="mailto:contact@yktaero.space">contact@yktaero.space</a>, <a href="mailto:mail@yktaero.space">mail@yktaero.space</a>
	</p>
	<hr>
	<h2 style="text-align: left;">Данные об организации</h2>
	<p>
		<b>ОГРН:</b> 1211400002516
	</p>
	<p>
		<b>ИНН/КПП:</b> 1435358869/143501001
	</p>
	<p>
		<b>ОКПО:</b> 47532632
	</p>
	<p>
		<b>Генеральный директор:</b> Илларионов Тимур Андреевич
	</p>
	<hr>
	<h2 style="text-align: left;">Банковские реквизиты</h2>
	<p>
		Тут пока ничего нет
	</p>
</div>
{% endblock %}
