:root {
	font-family: Arial, sans-serif;
	font-size: 16px;
	--color-blue-1: #457aab;
	--color-blue-2: #285580;
	--color-blue-3: #d0e1ef;
	--color-blue-4: #5f90bf;
	--color-black-1: #222222;
	--color-gray-1: #48555c;
	--color-gray-2: #9b9b9b;
	--color-gray-3: #f5f5f5;
	--color-gray-4: #a8a8a8;
	--navbar-btn-margin: 44px;
}

/* ================================================ *
 *                    Body styles                   * 
 * ================================================ */

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	min-height: 100vh;
	font-family: Arial, sans-serif;
}

.align-center {
	margin-right: auto;
	margin-left: auto;
	max-width: 75%;
}

.container {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 50px;
	width: 75%;
	max-width: 1280px;
}

.container-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	padding: 0px 16px;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.spacer {
	margin: 16px 0px;
}

.subh1 {
	font-size: 18px;
	text-align: center;
}

hr {
	border: 1px solid #dcdcdc;
}

/* ================================================ *
 *                  Header styles                   * 
 * ================================================ */

.header {
	background: black;
	padding: 80px;
	padding-top: 160px;
	padding-bottom: 160px;
	text-align: center;
	color: white;
}

.header h1 {
	font-size: 40px;
	text-align: none;
}

.header p{
	color: var(--color-gray-4);
}

.header-background-text {
	z-index: 2;
	border: 3px solid var(--color-gray-3);
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px;
	width: 80%;
	max-width: 1280px;
	text-align: center;
	color: white;
	font-weight: bold;
}

.header-background-image {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	height: 100%;
}

.header-sm {
	background: black;
	padding: 60px;
	text-align: center;
	color: white;
}

.header-sm h1 {
	font-size: 32px;
	margin: 12px;
	text-align: none;
}

.header-sm p{
	color: var(--color-gray-4);
}

.header-background-image {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	height: 100%;
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

/* ================================================ *
 *                   Footer styles                  * 
 * ================================================ */

.footer {
	margin-top: auto;
	background: var(--color-black-1);
	padding: 20px;
	color: white;
}

.footer-content-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	max-width: 1280px;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
}

.footer-content {
	flex: 33%;
	padding: 20px;
}

.footer p {
	color: var(--color-gray-2);
}

.footer a {
	color: white;
}

.footer h2 {
	text-align: left;
}

/* ================================================ *
 *                 ContactUs styles                 * 
 * ================================================ */

 .contact {
	margin-top: auto;
	background: var(--color-blue-1);
	padding: 20px;
	color: white;
}

.contact-content-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	max-width: 1280px;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
}

.contact-content {
	flex: 50%;
	padding: 20px;
}

.contact input, select, textarea {
	margin: 8px 0px;
	width: 100%;
}

.contact input[type=submit]{
	padding: 20px 20px;
}

.contact select, textarea {
	height: 200px;
}

.contact p {
	text-align: center;
	margin-top: 0; 
	margin-bottom: 0;
	color: var(--color-blue-3);
}

.contact h1 {
	text-align: center;
	margin-top: 0; 
	margin-bottom: 0;
}

.contact-map-flex {
	display: flex;
	flex-direction: column;
}

.contact-map-img {
	margin: 16px 0px;
	width: 100%;
}

.contact-icons-flex {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
/* ================================================ *
 *                   Navbar styles                  * 
 * ================================================ */

.navbar {
	background-color: black;
	padding-top: 16px;
	overflow: hidden;
	font-family: inherit;
}

.navbar a {
	position: relative;
	bottom: 0px;
	float: right;
	margin-top: var(--navbar-btn-margin);
	padding: 20px 24px;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	color: white;
	font-size: 16px;
}

.navbar-logo-btn {
	float: left;
	margin: 0;
	outline: none;
	border: none;
	background-color: inherit;
	padding: 10px 12px;
	line-height: 1;
	color: white;
	font-family: inherit;
}

.navbar-logo-img {
	margin-top: auto;
	margin-bottom: auto;
	width: auto;
	max-width: 100%;
	max-height: 80px;
}

.navbar .dropdown-btn {
	margin-top: var(--navbar-btn-margin);
}

.navbar a:hover {
	background-color: var(--color-blue-1);
}

@media (hover: hover) and (pointer: fine) {
	.navbar .dropdown:hover .dropdown-btn {
		background-color: var(--color-blue-1);
	}

	.dropdown-content a:hover {
		background-color: #ddd;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}
}

/* ================================================ *
 *                     Dropdowns                    * 
 * ================================================ */

.dropdown {
	float: right;
	overflow: hidden;
}

.dropdown .dropdown-btn {
	outline: none;
	border: none;
	background-color: inherit;
	padding: 20px 24px;
	text-align: center;
	line-height: 1;
	color: white;
	font-family: inherit;
	font-size: 16px;
	touch-action: auto !important;
}

.dropdown .dropdown-btn-active {
	background-color: var(--color-blue-1);
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #f9f9f9;
	min-width: 160px;
}

.dropdown-content a {
	display: block;
	float: none;
	margin-top: 0;
	padding: 12px 16px;
	text-align: left;
	text-decoration: none;
	color: black;
}

.dropdown-content-show {
	display: block;
}

/* ================================================ *
 *                  Breadbruh styles                * 
 * ================================================ */

ul.breadcrumb {
	padding: 0px 16px;
	list-style: none;
}

ul.breadcrumb li {
	display: inline;
	font-size: 16px;
}

ul.breadcrumb li + li:before {
	padding: 8px;
	color: var(--color-gray-2);
	content: "/\00a0";
}

ul.breadcrumb li a {
	text-decoration: none;
	color: var(--color-gray-2);
}

ul.breadcrumb li a:hover {
	text-decoration: underline;
	color: var(--color-gray-3);
}

/* ================================================ *
 *                   Button styles                  * 
 * ================================================ */

.button {
	border-radius: 2px;
	background: #457aab;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	color: white;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}

.button-nobg {
	border-radius: 2px;
	padding: 12px 10px;
	text-align: center;
	color: var(--color-blue-2);
}

.button-large {
	padding: 20px 32px;
	font-size: 18px;
}

.button:active {
	background-color: var(--color-blue-2);
}

a {
	color: var(--color-blue-2);
}

/* ================================================ *
 *                   Input styles                   * 
 * ================================================ */
 input[type=text], select, textarea {
	padding: 16px;
	border-radius: 2px;
	border: none;
	resize: vertical;
}

input[type=submit] {
	background-color: var(--color-black-1);
	color: #f8f8f8;
	padding: 12px 20px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: var(--color-gray-1);
}

/* ================================================ *
 *                    Card styles                   * 
 * ================================================ */

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	border-radius: 5px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background: #f8f8f8;
	padding: 0px 0px 20px;
	width: 32%;
	max-width: 400px;
}

.card-header {
	margin: 16px 0px 0px 0px;
	padding: 0px 16px;
	text-align: center;
	line-height: 28px;
	font-size: 24px;
	font-weight: bold;
}

.card-text {
	margin: 8px 0px;
	padding: 0px 16px;
	text-align: center;
}

.card-image {
	border-radius: 5px 5px 0 0;
	width: 100%;
}

.card .button {
	margin-top: 8px;
}

/* ================================================ *
 *                  Responsiveness                  * 
 * ================================================ */
/* Some dark magic I found on w3schools, idk how this shit works */
@media screen and (max-width: 1100px) {
	:root {
		--navbar-btn-margin: 28px;
	}

	.navbar-logo-img {
		max-height: 64px;
	}

	.main-content-flex {
		flex-direction: column;
	}

	.main-align-center {
		max-width: 90%;
	}
	
	.main-container {
		max-width: 90%;
	}

	.footer-content-flex {
		flex-direction: column;
	}
}

/* I have no idea what am i doing */
@media screen and (max-width: 980px) {
	.navbar a {
		margin: 0;
		width: 100%;
	}

	.dropdown {
		margin: 0;
		width: 100%;
	}

	.navbar-logo-img {
		max-height: 64px;
	}

	.navbar-logo-btn {
		display: inline-block;
		float: none;
		margin-right: auto;
		margin-left: auto;
		width: 100%;
	}

	.navbar .dropdown-btn {
		margin-top: 0;
		width: 100%;
	}

	.dropdown .dropdown-btn {
		width: 100%;
	}

	.dropdown-content {
		width: 75%;
	}

	.dropdown-content a {
		display: inline-block;
		text-align: center;
	}

	.header {
		padding: 20px;
	}

	.header-sm {
		padding: 20px;
	}

	.header h1 {
		font-size: 20px;
	}

	.header-sm h1 {
		font-size: 20px;
	}

	.main-container-flex-row {
		flex-direction: column;
	}

	.card {
		margin: 12px 0px;
		width: 100%;
		max-width: 100%;
	}

	.contact {
		display: none;
	}
}


.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color: var(--color-blue-1);
	color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

a.disabled {
	pointer-events: none;
	cursor: default;
}