<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='./css/base.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='./css/icons.css') }}" />
		<title>{% block title %}{% endblock %}</title>
		<style>
			.header-background-image {
				background-image: url("{{ url_for('static', filename='./img/bkg.jpg') }}");
			}
		</style>
	</head>

	<body>
		<link rel="stylesheet" href="{{ url_for('static', filename='./css/normalize.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='./css/sanitize.css') }}" />
		<script type="text/javascript" src="{{ url_for('static', filename='./src/base.js') }}"></script>
		<div class="navbar">
			<div class="align-center">
				<button class="navbar-logo-btn">
					<img src="{{ url_for('static', filename='./img/logo.svg') }}" class="navbar-logo-img" />
				</button>
				<a href="#home">Контакты</a>
				<a href="#news">Новости</a>
				<div class="dropdown">
					<button class="dropdown-btn" onclick="menu_showDropdown(this, 'about-dropdown')">
						О нас
						<i class="icons-arrow icons-arrow-down"></i>
					</button>
					<div class="dropdown-content" id="about-dropdown">
						<a href="#">Сотрудники</a>
						<a href="#">Партнеры</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropdown-btn" onclick="menu_showDropdown(this, 'projects-dropdown')">
						Проекты
						<i class="icons-arrow icons-arrow-down"></i>
					</button>
					<div class="dropdown-content" id="projects-dropdown">
						<a href="#">Образовательная платформа "YKTSAT"</a>
						<a href="#">Полезные нагрузки для МКА</a>
						<a href="#">Наземные комплексы</a>
						<a href="#">Любительские ракеты-носители</a>
					</div>
				</div>
			</div>
		</div>
		{% block content %}{% endblock %}
		<div class="footer">
			<div class="footer-content-flex">
				<div class="footer-content">
					<h2>ООО «Якутские Аэрокосмические Системы»</h2>
					<p>Copyright © 2021</p>
					<p>При поддержке ГАУ РС(Я) «Технопарк Якутия» и Фонда содействия инновациям</p>
					<a href="#">Условия использования</a>
				</div>
				<div class="footer-content">
					<h2>Контакты</h2>
					<p>Общество с ограниченной ответственностью «Якутские Аэрокосмические Системы»</p>
					<p>ИНН/КПП: 1435358869/143501001, ОГРН: 1211400002516, ОКПО 47532632</p>
					<p>677000, Россия, Республика Саха (Якутия), г. Якутск, ул. Дзержинского, 76, блок С, офис 203</p>
					<p>+7 (914) 228-06-39, contact@yktaero.space</p>
				</div>
				<div class="footer-content">
					<h2>Ресурсы для разработчиков:</h2>
					<a href="#">GitLab</a>
					<p>Сюда надо иконки сделать</p>
					<h2>Социальные сети:</h2>
					<p>Пусто ахахахаха</p>
				</div>
			</div>
		</div>
	</body>
</html>
