{% extends "base.html" %} {% block title %}Главная{% endblock %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/mainpage.css') }}" />

<div class="header header-background-image">
	<div class="align-center header-background-text">
		<h1>Цифры какие-то, буквы</h1>
		<ul class="breadcrumb">
			<li><a href="#">Раздел 1</a></li>
			<li><a href="#">Подраздел 1</a></li>
			<li><a href="#">Подраздел 2</a></li>
			<li>Главная</li>
		</ul>
	</div>
</div>
<div class="container">
	<h1 class="align-center" style="margin-top: 16px;">Проекты</h1>
	<div class="container-flex flex-col">
		<div class="project-card">
			<img src="{{ url_for('static', filename='./img/test.jpg') }}" class="card-image card-image-odd" />
			<div class="card-content">
				<div class="card-header">Dayum it actually works</div>
				<div class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac laoreet sit consequat sed tellus
					sagittis amet maecenas. Interdum enim iaculis malesuada pellentesque est viverra mus turpis sit. Sem
					mauris proin aliquet et semper nulla et aliquam. Congue porttitor mollis egestas turpis mauris eu,
					faucibus sollicitudin. Risus sapien cras leo vitae eget metus enim metus. Sed massa sed sed
					faucibus. Ullamcorper facilisi a, ullamcorper enim cursus suspendisse.
				</div>
				<a href="#" class="button">Check it out</a>
			</div>
		</div>
		<div class="project-card">
			<img src="{{ url_for('static', filename='./img/test.jpg') }}" class="card-image card-image-even" />
			<div class="card-content">
				<div class="card-header">Dayum it actually works</div>
				<div class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac laoreet sit consequat sed tellus
					sagittis amet maecenas. Interdum enim iaculis malesuada pellentesque est viverra mus turpis sit. Sem
					mauris proin aliquet et semper nulla et aliquam. Congue porttitor mollis egestas turpis mauris eu,
					faucibus sollicitudin. Risus sapien cras leo vitae eget metus enim metus. Sed massa sed sed
					faucibus. Ullamcorper facilisi a, ullamcorper enim cursus suspendisse.
				</div>
				<a href="#" class="button">Check it out</a>
			</div>
		</div>
		<div class="project-card">
			<img src="{{ url_for('static', filename='./img/test.jpg') }}" class="card-image card-image-odd" />
			<div class="card-content">
				<div class="card-header">Dayum it actually works</div>
				<div class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac laoreet sit consequat sed tellus
					sagittis amet maecenas. Interdum enim iaculis malesuada pellentesque est viverra mus turpis sit. Sem
					mauris proin aliquet et semper nulla et aliquam. Congue porttitor mollis egestas turpis mauris eu,
					faucibus sollicitudin. Risus sapien cras leo vitae eget metus enim metus. Sed massa sed sed
					faucibus. Ullamcorper facilisi a, ullamcorper enim cursus suspendisse.
				</div>
				<a href="#" class="button">Check it out</a>
			</div>
		</div>
	</div>
	<h1 class="align-center" style="margin-top: 16px;">Новости</h1>
	<div class="container-flex flex-row">
		<div class="card">
			<img src="{{ url_for('static', filename='./img/test.jpg') }}" class="card-image" />
			<div class="card-header">Dayum it actually works</div>
			<div class="card-text">aaaaaaaaaaaa aaaa a aaaaa</div>
			<a href="#" class="button">Check it out</a>
		</div>
		<div class="card">
			<img src="{{ url_for('static', filename='./img/test.jpg') }}" class="card-image" />
			<div class="card-header">Dayum it actually works</div>
			<div class="card-text">aaaaaaaaaaaa aaaa a aaaaa</div>
			<a href="#" class="button">Check it out</a>
		</div>
		<div class="card">
			<img src="{{ url_for('static', filename='./img/test.jpg') }}" class="card-image" />
			<div class="card-header">Dayum it actually works</div>
			<div class="card-text">aaaaaaaaaaaa aaaa a aaaaa</div>
			<a href="#" class="button">Check it out</a>
		</div>
	</div>
	<div class="spacer" style="text-align: center;">
		<a href="#" class="button button-large align-center">Check it out</a>
	</div>
	<div class="about-org">
		<div class="project-card">
			<img src="{{ url_for('static', filename='./img/test.jpg') }}" class="card-image card-image-odd" />
			<div class="card-content">
				<div class="card-header">О компании</div>
				<div class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac laoreet sit consequat sed tellus
					sagittis amet maecenas. Interdum enim iaculis malesuada pellentesque est viverra mus turpis sit. Sem
					mauris proin aliquet et semper nulla et aliquam. Congue porttitor mollis egestas turpis mauris eu,
					faucibus sollicitudin. Risus sapien cras leo vitae eget metus enim metus. Sed massa sed sed
					faucibus. Ullamcorper facilisi a, ullamcorper enim cursus suspendisse.
				</div>
				<a href="#" class="button">Check it out</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
